.Form input:focus {
  box-shadow: none;
}

.invalid {
  border-bottom:2px solid rgb(193, 0, 0) !important;
}


.valid {
  border-color: rgb(0, 0, 0) !important;
}

.Form h1 {
  font-weight: 600;
  /* italic */
  font-style: italic; 
}

.Form p {
  color:#111;
}

.Form a {
  color: #111;
  font-weight: 600;
  text-decoration: none;
}
.Form a:hover {
  text-decoration: underline;
}